.about-us {
  @include pageGrid;

  &__title {
    text-align: start;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 8px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 6 / -1;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 16px;
    font-size: 23px;
    line-height: 140%;
    font-weight: 500;
  }
}
